# MATLAB
*.asv
*.mex*
slprj/
*.mat~
*.mlx~
*.prj

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# System & OS
.DS_Store
Thumbs.db
*.bak
*.tmp

# Data
resources/*
results/*
# models/*
output/*
project_info/*

chronos-2-finetuned
.agent/*